body {
  margin: 0;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
  overflow: hidden;
}

.row {
  flex-direction: row;
  width: 100%;
}

#header-row {
  height: 60px;
  background-color: rgba(232, 79, 62, 1);
  width: 100%;
  display: flex;
  color: #fff;
}

#header-row h1 {
  align-self: center;
  font-family: Helvetica, Arial, sans-serif;
  margin-left: -15px;
  margin-bottom: 12px;
}

#header-row img {
  height: 60px;
}

button.settings-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
}

button.settings-icon svg {
  height: 20px;
}

#experiment-section {
  min-height: 50px;
}

h2 {
  width: 100%;
  font-size: 1em;
  background-color: #000;
  color: #fff;
  padding: 10px;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.row ul {
  width: 100%;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
}

.row ul li {
  width: 50%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #d8d8d8;
}

.experiment_row ul {
  width: 100%;
  margin: 0;
  padding-inline-start: 0;
  display: flex;
  /* flex-direction: row; */
  list-style-type: none;
  padding: 0 10px;
}

.experiment_row {
  color: grey;
}

.experiment_row.confirmed {
  color: green;
}

.experiment_row ul:first-of-type li {
  width: 50%;
  display: flex;
  align-self: center;
}

ul li p {
  display: flex;
  flex-direction: row;
}

ul li p b {
  margin-right: 10px;
}

ul.additional_info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #d8d8d8;
}

ul.additional_info li {
  width: 100%;
  line-height: 0;
}
ul.additional_info li p b {
  min-width: 60px;
}

.hide-info ul.additional_info {
  display: none;
}

.hide-info ul.additional_info {
  display: none;
}

div.image-wrapper {
  width: 20px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  position: absolute;
  right: 10px;
  margin-top: 10px;
}

div.image-wrapper img {
  height: 20px;
}

img.expand {
  display: none;
}

.hide-info img.expand {
  display: block;
}

.hide-info img.collapse {
  display: none;
}

#user-section .row ul {
  flex-direction: column;
  margin: 0;
}

#user-section .row ul li {
  width: 100% !important;
}

#user-section .row ul li p {
  margin-left: 10px;
}

#user-section ul li p b {
  margin-right: 10px;
  min-width: 125px;
}