:root {
  --header-height: 48px;
  --green-success: #71C97E;
  --main-font-color: #000000;
  --border-color: #dddddd;
  --header-z-index: 100;
}

/******* font start *******/
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCRc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fABc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCBc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBxc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCxc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fChc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7mxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4WxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7WxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCRc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fABc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCBc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBxc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCxc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fChc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/****** font end ******/

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300;
}

button {
  font-family: Roboto, Arial, sans-serif;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.row {
  flex-direction: row;
  width: 100%;
  display: flex;
}

#header-row {
  height: var(--header-height);
  background-color: #323638;
  width: 100%;
  display: flex;
  color: #fff;
  flex: 1;
  z-index: var(--header-z-index);
  position: sticky;
  top: 0px;
}

.section-header.allocations-title {
  position: sticky;
  top: var(--header-height);
  background: white;
  z-index: var(--header-z-index);
}

#header-row .evolv-name {
  margin-left: -6px;
  margin-top: 16px;
}

#header-row .logo {
  margin: 15px 0px;
  margin-left: 21px;
}

button.settings-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
}

button.settings-icon svg {
  height: 20px;
}

button.refresh-icon {
  position: absolute;
  top: 15px;
  right: 50px;
  background: transparent;
  border: none;
}

.additional_info a {
  color: var(--main-font-color);
}

.additional_info a:visited {
  color: var(--main-font-color);
}

#copy-debug-info {
  margin: 10px;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 120px;
  color: #fff;
  transition: 1s;
  position: relative;
  opacity: .85;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  height: calc(var(--header-height) - 20);
}

.copy-icon {
  fill: #fff;
}

button#copy-debug-info svg {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 10px;
}

button#copy-debug-info span {
  padding-left: 16px;
}

#copy-debug-info.copied {
  border-radius: 4px;
  border-color: var(--green-success);
  color: var(--green-success);
}

#copy-debug-info.copied .copy-icon {
  fill: var(--green-success);
}

#experiment-section {
  min-height: 50px;
}

h2 {
  width: 100%;
  font-size: 1em;
  padding: 10px;
  margin: 0;
}

.row ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
}

.row ul li {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.section-header, .experiment-title-bar {
  box-shadow: 0px 4px 4px -3px #9d9d9d;
  -webkit-box-shadow: 0px 4px 4px -3px #9d9d9d;
  border-bottom: none;
}

.section-header {
  height: 40px;
  line-height: 21px;
}

.experiment_row ul {
  margin: 0;
  padding-inline-start: 0;
  display: flex;
  /* flex-direction: row; */
  list-style-type: none;
  padding: 0 10px;
}

.experiment_row {
  color: var(--main-font-color);
  overflow: hidden;
}

.experiment_row.confirmed {
  color: var(--green-success);
}

.experiment_row ul:first-of-type li {
  min-width: 70%;
  display: flex;
  align-self: center;
}

.experiment_row .experiment-title-bar li:first-child b {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding-right: 10px;
}

.experiment_row .e-name{
  margin-left: 10px;
  line-height: 18px;
}

ul li p {
  display: flex;
  flex-direction: row;
}

ul li p b {
  margin-right: 10px;
}

ul.additional_info {
  padding: 8px 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #f4f4f4;
  transition: all .3s ease;
  height: 100%;
}

ul.additional_info li {
  width: 100%;
  line-height: 0;
}

ul.additional_info li p b {
  min-width: 60px;
}

.hide-info ul.additional_info {
  height: 0px;
  padding: 0px 12px;
}

.hide-info .experiment-title-bar {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.experiment_row:not(:first-child) .experiment-title-bar {
  border-top: 1px solid var(--border-color);
}

.experiment-title-bar {
  position: relative;
  cursor: pointer;
}

.arrow-icon {
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-right: 10px;
  flex: 1;
}

.hide-info .arrow-icon svg {
  transform: rotate(0deg);
}

.arrow-icon svg {
  transform: rotate(180deg);
  transition: transform .3s ease;
  position: absolute;
  right: 20px;
}

#user-section .section-header {
  border-top: 2px solid #323638;
}

#user-section .row ul {
  flex-direction: column;
  margin: 16px 10px;
}

#user-section .row ul li {
  width: 100% !important;
  line-height: 20px;
}

#user-section .row ul li p {
  margin-left: 10px;
}

#user-section ul li p b {
  margin-right: 10px;
  min-width: 125px;
}



/* TOGGLE SWITCH */
/* The switch - the box around the slider */
#block-execution-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: calc(100% - 150px);
  margin-right: 10px;
}
#block-execution-toggle p {
  margin-right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  height: 14px;
  width: 31px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 0px;
  bottom: -3px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch:hover .slider:before {
  -webkit-box-shadow: 0px 2px 10px 0px #000000; 
  box-shadow: 0px 2px 10px 0px #000000;
}

input:checked+.slider {
  background-color: var(--green-success);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--green-success);
}

input:checked+.slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}